# Mac OSX
.DS_Store

# Emacs / DrRacket backups & auto save files
*~
\#*\#
.\#*

# Emacs tags
TAGS

# frog build files
.frog

# Python Distribution / packaging
_venv/

# Hugo
/.hugo_build.lock

# New personally created build system
/cache/
