<!DOCTYPE html>

<%# https://pure-css.github.io/layouts/blog/# %>

<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/purecss@3.0.0/pure.css">
    <link rel="stylesheet" href="/css/purecss@3.0.0/grids-responsive.css">
    <link rel="stylesheet" href="/css/purecss@3.0.0/styles.css">
</head>

<body>

    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-4">
            <div class="header">
                <h1 class="brand-title">
                  <%# <a href="/" class="pure-menu-link"><%= SITE_TITLE %1></a> %>
                  <a href="/"><%= SITE_TITLE %></a>
                </h1>
                <%# <h2 class="brand-tagline">I should probably put something witty here</h2> %>

                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="pure-button" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/posts/">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/tags/">Tags</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/SWE_Resume.pdf">Resumé</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="content pure-u-1 pure-u-md-3-4">
            <div>
                <%= yield %>
                <div class="footer">
                    <div class="pure-menu pure-menu-horizontal">
                        <ul>
                          <%# FIXME: This about link doesn't actually exist yet. %>
                          <li class="pure-menu-item">
                            <a href="/about/" class="pure-menu-link">About</a>
                          </li>
                          <li class="pure-menu-item">
                            <a href="https://github.com/eestrada/eestrada.github.io" class="pure-menu-link">Source</a>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
