<h1 class="section-title">All Tags</h1>

<ul class="tags-list">
    <% tags.each do |tag| %>
    <li>
        <a href="/tags/<%= tag[:slug] %>/index.html"><%= tag[:name] %></a> (<%= tag[:count] %>)
    </li>
    <% end %>
</ul>
